.footer {
  width: 100%;
  padding: 40px 0 30px 0;
  background: #E86C28;
  border-top: 2px solid rgba(222, 121, 39, 0.25); /* naranja suave */
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.socials {
  display: flex;
  gap: 22px;
}

.icon {
  width: 35px;
  height: 30px;
  color: #ffffff; /* Pantone 158C aproximado */
  transition: all 0.25s ease;
}

.icon:hover {
  transform: scale(1.13);
  color: #ffffff;
}

.copy {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.9;
  text-align: center;
  font-weight: 500;
}
