.scroller {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #fdf7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BLOBS más suaves y alejados */
.blobTop {
  position: absolute;
  top: -15%;
  right: -14%;
  width: 50%;
  height: 50%;
  background: #f5a050;
  border-bottom-left-radius: 70%;
  opacity: 0.35;
  z-index: 1;
}

.blobBottom {
  position: absolute;
  bottom: -5%;
  left: -15%;
  width: 50%;
  height: 50%;
  background: #f5a050;
  border-top-right-radius: 70%;
  opacity: 0.35;
  z-index: 1;
}

/* IMÁGENES más chicas y más separadas */
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.topImage,
.bottomImage {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 5;
}

.topImage {
  position: absolute;
  top: 5%;
  right: 10%;
}

.bottomImage {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

/* TARJETAS PREMIUM */
.topCard,
.bottomCard {
  background: white;
  width: 400px;
  height: 200px;
  padding: 30px ;
  border-radius: 20px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.10);
  position: absolute;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.04);
  line-height: 1.55;
}


.topCard {
  top: 5%;
  left: 12%;
}

.bottomCard {
  bottom: 20%;
  right: 15%;
}

/* TITULOS */
.topCard h3,
.bottomCard h3 {
  color: var(--color);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
}

/* DESCRIPCIÓN */
.topCard p,
.bottomCard p {
  margin-bottom: 5px;
  font-size: 17px;
  color: #4a3d2f;
  font-family: "Inter", sans-serif;
  opacity: 0.9;
   line-height: 1.55;

}
