/* Fondo general */
.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #fff9f0; /* Antique White */
}


.title {
  font-size: 3rem;
  font-weight: 800;
  color: #4a2d19;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #4a2d19d0;
}

/* Contenedor vertical (scroll natural) */
.listWrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

/* Cada sabor ocupa una “pantalla” natural */
.item {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Panel marrón (se ve solo en un lado) */
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #b8875c; 
  z-index: 1;
}

.leftPanel {
  left: 0;
  border-radius: 0 200px 200px 0;
}

.rightPanel {
  right: 0;
  border-radius: 200px 0 0 200px;
}

/* Imagen principal */
.imageWrapper {
  position: relative;
  z-index: 2;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

/* Tarjeta */
.card {
  position: absolute;
  z-index: 3;
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  width: 340px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.cardRight {
  left: 10%;
}

.cardLeft {
  right: 10%;
}

.sabor {
  font-size: 1.6rem;
  color: #4a2d19;
  margin-bottom: 0.7rem;
}

.desc {
  font-size: 1.1rem;
  color: #4a2d19cc;
}
